.recipeLinks {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 60px;
  display: flex;
  justify-content: space-between;
}

.recipeLiksAction {
  align-items: center;
  display: flex;
  justify-content: center;
}